@import './base.css';

#app {
  max-width: 1200px;
  margin: 0 auto;
  font-weight: normal;
}

:root {
  font-size: 16px;
  --text-primary: #fff;
  --text-secondary: #9aa0f6;
  --text-tertiary: #d9dcef;
  --bg-primary: #212121;
  --bg-secondary: #7272fb;
}

body {
  background-color: var(--bg-primary);
}

a {
  font-size: 1rem;
}
